@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif !important;
}

.singular .entry-header{
    padding:0em!important;
}

h1.entry-title{
	display: none;
}
	
/* HEADER*/

#site-header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

#site-header a {
    color:#000;
}

/* FOOTER */
#site-footer {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer-content {
    text-align: center; 
}

.footer-content a {
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    color: #000; 
}

.footer-content a:hover{
    color: #DC9F96;
    ;
}

.footer-content a:active{
    color: #DC9F96;
}

/*MENTIONS LEGALES*/
.title-mentions{
    color:#3B8E46;
    font-size: 38px;
}

.p-mentions{
    text-align: justify;
}

/* PAGE D'ACCUEIL */

.img-accueil{
	border: none;	
}

.titre1-accueil{
    width: 45% !important;
	color:#3B8E46;
	font-size: 38px;
    font-weight: 800;
}

.titre2-accueil{
    width: 45% !important;
    color: #3B8E46;
    font-size: 30px;
    font-weight: 700;
}

.titre3-accueil{
    color: #d2776a;
    font-size: 30px;
    font-weight: 800;
}


.titre4-accueil{
    color: #3B8E46;
    font-weight: 800;
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: 400;
}

.p1-accueil{
    width: 25% !important;
}

/* IMAGES GALERIE */
/* .wp-block-image{
    width: 393px !important;
    height: 262px !important;
} */
/* 
.wp-block-image{
    
    width: 10% !important;
    height: 10% !important;
} */

.gallerie-accueil{
    width: 40% !important;
}

.image-gallerie{
    padding: 10px;
}