@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
    margin: 0 !important;
    font-family: 'Syne', sans-serif !important;
}

header, main, footer{
    max-width: 1440px !important;
    margin: auto !important;
}

.singular .entry-header{
    padding:0em!important;
}

.site-description{
    display: none !important;
}

.entry-title{
	display: none;
}
	
/*   HEADER   */
.header-inner {
    width: 100%;
    height: 80px !important;
}

/* Logo Header*/

.site-logo img{
    width: 201px !important;
    height: 19px !important;
    margin-left: 20px !important;
}

/*NAV UL HEADER*/
.primary-menu-wrapper ul{
    display: flex;
    align-items: center;
}

.primary-menu li a{
    color: #000 !important;
    margin-right: 30px !important;
    text-decoration: none !important;
}

.primary-menu li a:hover{
    transition: all 0.33s ease-in-out; 
    transform: scale(1.1) translateY(0px);
}

.primary-menu li a:active{
    text-decoration: none !important;
}

.primary-menu li:last-child a{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #E0B9B4;
    color: #fff !important;
    font-weight: 700;
    transform: none !important;
    transition: none !important;
    padding: 0 60px !important;
    margin: 0 !important
}

.primary-menu li:last-child a:hover{
    background-color: #C02E44;
}

/*** ACCUEIL ***/
/* Titre Principal h1 */
.titre1-accueil{
    margin: 0 !important;
    color: #3B8E46 !important;
    font-size: 38px !important;
    background-color: #ECE2DA !important;
    padding: 80px 330px 100px 330px !important;
}

.wp-block-image{
    margin: 0 !important;
    background-color: #ECE2DA !important;
    padding-top: 10px !important;
    display: flex;
    justify-content: center;
}

.wp-image-110{
    /* Image principale page d'accueil => LUI ATTRIBUER UNE CLASSE DS GUTENBERG  */
    width: 47% !important;
    padding-bottom: 10px !important;
}

/* Section L'énergie des plantes */
/* Titre */
h2.wp-block-heading{
    color: #3B8E46 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    margin: 0 auto !important;
    padding-top: 80px !important;
}

/* <p> */
.p1-accueil{
    margin: 0 auto !important;
    padding: 40px 0 80px 0 !important;
    /* width: 497px !important; */
    width: 30% !important;
}

/* SECTION LES GOUTS*/
/* titre */
h2.titre3-accueil{
    padding-top: 50px !important;
    padding-bottom: 10px !important;
    color: #d2776a !important;
    background-color: #ECE2DA !important;
    font-size: 30px !important;
    font-weight: 800 !important;
}

.wp-block-columns{
    background-color: #ECE2DA !important;
    margin: 0 auto !important;
}

/*gallerie */
.gallerie-accueil{
    margin: 0 auto !important;
    padding: 30px 300px 0 300px !important;
}

.image-gallerie{
    padding: 10px;
    width: 40% !important;
}

/*bouton commander */
.wp-block-buttons{
    margin: 0 auto !important;
    padding: 30px 0 20px 0!important;
    background-color: #ECE2DA !important;
}

.wp-block-buttons a{
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    padding: 15px 50px !important;
}
.wp-block-buttons a:hover{
    background-color: #C02E44 !important;
    text-decoration: none !important;
}

/* courbe section les goûts*/
.img3-accueil{
    width: 1442px !important;
}

/* SECTION CE QU'ILS EN PENSENT*/
h2.titre4-accueil{
    color: #3B8E46 !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    padding: 80px 0 60px 0!important;
}

.img-com{
    background-color: #fff !important;
    /* padding-top: 40px !important; */
    height: 100% !important;
    width: 60% !important;
}

.container-commentaires{
    background-color: #fff !important;
}

.colonne-container-commentaires{
    display: flex !important;
    flex-direction: row !important;
}

.colonne-container-commentaires h4{
    color: #3B8E46 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    padding-left: 30px !important;
    padding-right: 15px !important;
}

.colonne-container-commentaires p{
    font-size: 16px !important;
    padding-left: 30px !important;
    padding-right: 15px !important;
}

/*** IMAGE BAS DE PAGE ***/
.img-pdp{
    background-color: #fff !important;
    padding-top: 70px !important;
}

/*** FOOTER ***/
.header-footer-group {
    padding: 0 !important;
}

.footer-content {
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content a {
    text-decoration: none !important;
    color: #000; 
}

.footer-content a:hover{
    /* text-decoration: none !important;  */
    transition: all 0.33s ease-in-out; 
    transform: scale(1.1) translateY(0px);
}

/*** PAGE DES MENTIONS LEGALES ***/
h2.title-mentions{
    display: flex;
    color:#3B8E46;
    font-size: 38px !important;
    font-weight: 800 !important;
    justify-content: center;
    padding-bottom: 50px !important;
    background-color: #ECE2DA !important;
}
div.p-mentions-container{
    padding: 0 100px 30px 100px !important;
}
p.p-mentions{
    text-align: justify;
    background-color: #ECE2DA !important;
}


/*** PAGE NOUS RENCONTER ***/

h2.titre1-rencontrer{
    color: #D2776A !important;
    font-size: 38px !important;
    font-weight: 800 !important;
    background-color: #ECE2DA !important;
    padding-bottom: 30px !important;
}

/*section L'équipe*/
h2.titre2-rencontrer{
    color: #000 !important;
    padding: 60px 0 20px 0 !important;
}

.equipe-container{
    background-color: #fff !important;
}

.equipe-img{
    background-color: #fff !important;
}

.equipe-container h4{
    font-size: 20px !important;
    font-weight: 700 !important;
    padding: 30px 0 10px 0 !important;
}

.equipe-container p{
    font-size: 20px !important;
    font-weight: 400 !important;
}

/*section du formulaire*/
h2.titre3-rencontrer{
    background-color: #ECE2DA !important;
    padding: 60px 0 30px 0 !important;
    color: #000 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    margin-top: 80px !important;
}

.fluentform{
    display: flex;
    justify-content: center;
}
.champ-form-rencontrer{
    width: 383px !important;
    padding-bottom: 20px !important;
}

.ff-el-group button{
    text-transform: capitalize !important;
    font-size: 15px !important;
    padding: 15px 50px !important;
}

.ff-el-group button:hover{
    color: #fff !important;
}


/*image de pied de page*/
img.img-pdp-rencontrer{
    background-color: #ECE2DA !important;
    padding-top: 70px !important;
}








/* Masque les metas icone et txt 'rechercher au dessus du footer SUPPRIMER LA DIV DS LE HTML'  */
.post-meta-wrapper {
    display: none !important;
}

